n8n/workflows/document_processing.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Prepare data for SQL injection-safe insertion\nconst item = $input.first().json;\n\n// Escape single quotes in strings\nfunction escapeSql(str) {\n  return str ? str.toString().replace(/'/g, \"''\") : '';\n}\n\n// Build the SQL query with escaped values\nconst fileName = escapeSql(item.fileName);\nconst fileType = escapeSql(item.fileType);\nconst metadata = JSON.stringify(item.metadata || {});\n\nreturn [{\n  fileName: fileName,\n  fileType: fileType,\n  metadata: metadata,\n  sql: `INSERT INTO documents (source_id, original_name, file_type, metadata) VALUES ((SELECT id FROM sources WHERE name = 'n8n_upload' LIMIT 1), '${fileName}', '${fileType}', '${metadata}'::jsonb) RETURNING id`\n}];"
      },
      "name": "Prepare SQL",
      "type": "n8n-nodes-base.function",
      "position": [
        1168,
        32
      ],
      "typeVersion": 1,
      "id": "81c1b6c9-ad41-47d5-83c8-81d0123c78df"
    },
    {
      "parameters": {
        "functionCode": "const docId = $input.first().json[0].id;\n\nreturn [{\n  document_id: docId,\n  sql: `INSERT INTO processing_queue (document_id, task_type, priority) VALUES ('${docId}', 'extract', 5)`\n}];"
      },
      "name": "Prepare Queue SQL",
      "type": "n8n-nodes-base.function",
      "position": [
        1568,
        32
      ],
      "typeVersion": 1,
      "id": "94ea2e6d-0b42-4319-a0f7-c18ce3f247af"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "additionalFields": {}
      },
      "name": "Queue for Processing",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1760,
        32
      ],
      "typeVersion": 1,
      "id": "3a517dcf-5b13-45c6-ba37-caeb3a6c89f4",
      "credentials": {
        "postgres": {
          "id": "qYteelIvcCtq3rcj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const chunk = $input.first().json;\nconst response = chunk.response || chunk.text || '';\nconst chunkId = chunk.id;\n\nreturn [{\n  id: chunkId,\n  sql: `UPDATE chunks SET content = '${response.replace(/'/g, \"''\") }', status = 'enhanced', enhanced_at = NOW() WHERE id = '${chunkId}'`\n}];"
      },
      "name": "Prepare Enhanced SQL",
      "type": "n8n-nodes-base.function",
      "position": [
        1568,
        240
      ],
      "typeVersion": 1,
      "id": "299d02ad-6c16-43db-9df3-4144564a166e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doc-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Document Upload1",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1008,
        48
      ],
      "typeVersion": 1,
      "id": "ac4467ce-b2f3-4635-a5e9-b10f33d94fcd",
      "webhookId": "ac847e3f-8cee-4467-a3b5-182a7387d509"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "additionalFields": {}
      },
      "name": "Save to DB1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1360,
        32
      ],
      "typeVersion": 1,
      "id": "9f5c4013-51ef-483a-baec-502123dc5fd1",
      "credentials": {
        "postgres": {
          "id": "qYteelIvcCtq3rcj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 3
            }
          ]
        }
      },
      "name": "Night Job Trigger1",
      "type": "n8n-nodes-base.cron",
      "position": [
        960,
        240
      ],
      "typeVersion": 1,
      "id": "fcfacad5-550a-4b2c-9a54-b1220c5739cf"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.* FROM chunks c JOIN documents d ON c.document_id = d.id WHERE c.status = 'precleaned' AND d.status != 'deleted' LIMIT 100",
        "additionalFields": {}
      },
      "name": "Get Chunks for Enhancement1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1168,
        240
      ],
      "typeVersion": 1,
      "id": "794bd438-9afc-4920-9b91-a93397d320fe",
      "credentials": {
        "postgres": {
          "id": "qYteelIvcCtq3rcj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.DEFAULT_MODEL || 'mistral' }}"
            },
            {
              "name": "prompt",
              "value": "Verbessere den folgenden Text. Korrigiere Rechtschreibfehler, verbessere die Struktur, aber behalte alle wichtigen Informationen:\\n\\n{{ $json.content }}\\n\\nVerbesserte Version:"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "name": "LLM Enhancement1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1360,
        240
      ],
      "typeVersion": 3,
      "id": "5a987613-56f3-420c-a0ae-97215a7e319c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "additionalFields": {}
      },
      "name": "Save Enhanced1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1760,
        240
      ],
      "typeVersion": 1,
      "id": "ae039781-c39f-488e-8d8b-4454914edd05",
      "credentials": {
        "postgres": {
          "id": "qYteelIvcCtq3rcj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.DEFAULT_MODEL || 'mistral' }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Embedding1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        240
      ],
      "typeVersion": 3,
      "id": "9d6f7f55-92ee-4ec6-8df5-6048f3b2e32d"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/documents/points",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "points",
              "value": "[{\"id\": \"{{ $json.id }}\", \"vector\": {{ JSON.stringify($json.embedding) }}, \"payload\": {\"chunk_id\": \"{{ $json.id }}\"}}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Store in Qdrant1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2160,
        240
      ],
      "typeVersion": 3,
      "id": "a7e96ccf-8868-43c7-80bd-e13338c11df0"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "document_id",
              "value": "={{ $node['Save to DB1'].json[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Response1",
      "type": "n8n-nodes-base.set",
      "position": [
        1968,
        32
      ],
      "typeVersion": 1,
      "id": "c5bfe6db-8c95-42b9-b990-3f7718b0e4d3"
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare SQL": {
      "main": [
        [
          {
            "node": "Save to DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Queue SQL": {
      "main": [
        [
          {
            "node": "Queue for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue for Processing": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Enhanced SQL": {
      "main": [
        [
          {
            "node": "Save Enhanced1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Upload1": {
      "main": [
        [
          {
            "node": "Prepare SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DB1": {
      "main": [
        [
          {
            "node": "Prepare Queue SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Night Job Trigger1": {
      "main": [
        [
          {
            "node": "Get Chunks for Enhancement1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chunks for Enhancement1": {
      "main": [
        [
          {
            "node": "LLM Enhancement1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Enhancement1": {
      "main": [
        [
          {
            "node": "Prepare Enhanced SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Enhanced1": {
      "main": [
        [
          {
            "node": "Generate Embedding1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding1": {
      "main": [
        [
          {
            "node": "Store in Qdrant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ae5e03d-2150-47d7-b8b3-336f739a6dfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92268cf0e1ac5f3e7215c6d8377622f8297127868485b08c2d2ff147c192b0b2"
  },
  "id": "9zVxCnsXlCqxK6p1",
  "tags": []
}