n8n/workflows/document_processing.json
{
  "name": "Document Intelligence Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "doc-webhook",
        "responseMode": "onReceived",
        "httpMethod": "POST",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "name": "Document Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "doc-intelligence-webhook",
      "id": "webhook-node-001"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "operation": "equals", 
              "value2": "file_added"
            }
          ]
        }
      },
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "condition-node-001"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "received"
            },
            {
              "name": "event",
              "value": "={{$json[\"event\"]}}"
            },
            {
              "name": "file",
              "value": "={{$json[\"file\"]}}"
            },
            {
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "format-node-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://search_api:8001/webhook/process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "={{$json[\"event\"]}}"
            },
            {
              "name": "file_path",
              "value": "={{$json[\"file\"]}}"
            },
            {
              "name": "source",
              "value": "n8n_webhook"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Forward to Search API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200],
      "id": "forward-node-001"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "webhook_event_{{$json[\"event\"]}}_{{new Date().getTime()}}",
        "value": "={{JSON.stringify($json)}}",
        "ttl": 3600
      },
      "name": "Cache Event",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [850, 400],
      "id": "cache-node-001"
    }
  ],
  "connections": {
    "Document Webhook": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Forward to Search API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cache Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "doc-intelligence-system"
  }
}
